<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>List of roles</title>

    <th:block th:include="fragments/header.html :: general"/>
</head>

<body>
<!-- Sidenav -->
<th:block th:include="fragments/bars.html :: sidebar(2)"/>
<!-- Main content -->
<div class="main-content">
    <!-- Top navbar -->
    <th:block th:include="fragments/bars.html :: topbar('Hospital Name')"/>
    <!-- Main -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

    </div>
    <div class="container-fluid mt--9">
        <div class="row">
            <div class="col-xl-12 order-xl-1">

                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Roles</h3>
                            </div>
                            <div class="col text-right">
                                <a href="/web/roles/0" class="btn btn-success">Add new role</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive table-hover">
                            <!-- Projects table -->

                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Permissions</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>

                                <th:block th:each="item : ${roles}">
                                    <tr>
                                        <th th:onclick="'window.location.href=\'/web/roles/' + ${item.id} + '\''"
                                            scope="row"
                                            th:text="${item.name}">
                                        </th>
                                        <td th:onclick="'window.location.href=\'/web/roles/' + ${item.id} + '\''"
                                            th:text="${item.rank}"
                                        >


                                            <!--                                        <td th:onclick="'window.location.href=\'/web/positions/' + ${item.id} + '\''"-->
                                            <!--                                            th:text="${item.role.} ">-->

                                            <!--                                        </td>-->
                                        <td th:onclick="'window.location.href=\'/web/roles/' + ${item.id} + '\''"
                                            th:text="${item.permissions}"
                                        >



                                            <!--                                        </td>-->

                                        <td class="text-right">

                                            <div class="dropdown">
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                                                     x-placement="bottom-end"
                                                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(32px, 32px, 0px);">
                                                    <a class="dropdown-item" th:href="@{'/web/roles/' + ${item.id}}">Edit</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                                       data-target="#modal-delete"
                                                       th:onclick="'javascript:changeDeleteId(\'' + ${item.id} + '\');'">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>

                            <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog"
                                 aria-labelledby="modal-notification" aria-hidden="true">
                                <form action="#" th:action="@{/web/roles/delete}" method="POST">
                                    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                        <div class="modal-content bg-gradient-danger">

                                            <div class="modal-header">
                                                <h6 class="modal-title" id="modal-title-notification">Alert</h6>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">

                                                <div class="py-3 text-center">
                                                    <i class="ni ni-bell-55 ni-3x"></i>
                                                    <h4 class="heading mt-4">Delete role?</h4>
                                                    <p>Are you sure you want to delete this role?</p>
                                                </div>

                                            </div>

                                            <input id="delete_id" name="id" type="hidden" value=""/>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-white">Delete</button>
                                                <button type="button" class="btn btn-link text-white ml-auto"
                                                        data-dismiss="modal">Cancel
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>


                    </div>


                    <div class="card-footer">

                        <div class="col-sm-7">
                            <!-- Pagination Bar -->
                            <div th:fragment='paginationbar'>
                                <div class="text-center">

                                    <nav aria-label="...">
                                        <ul class='pagination justify-content-end mb-0'>

                                            <li th:class="${page.hasPreviousPage}? 'page-item' : 'page-item disabled'">
                                                <span tabindex="-1" class="page-link"
                                                      th:if='${not page.hasPreviousPage}'>
                                                     <i class="fas fa-angle-left"></i>
                                                    <span class="sr-only">Previous</span>
                                                </span>
                                                <a tabindex="-1" class="page-link" th:if='${page.hasPreviousPage}'
                                                   th:href='@{${page.url}(page=${page.currentNumber-2},size=${page.size})}'>
                                                    <i class="fas fa-angle-left"></i>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li th:each='item : ${page.items}'
                                                th:class="${item.current}? 'page-item active' : 'page-item'">
                                                    <span tabindex="-1" class="page-link" th:if='${item.current}'
                                                          th:text='${item.number}'>1</span>
                                                <a tabindex="-1" class="page-link" th:if='${not item.current}'
                                                   th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                                        th:text='${item.number}'>1</span></a>
                                            </li>

                                            <li class="page-link"
                                                th:class="${page.hasNextPage}? 'page-item' : 'page-item disabled'">
                                                <span tabindex="-1" class="page-link" th:if='${not page.hasNextPage}'>
                                                     <i class="fas fa-angle-right"></i>
                                                    <span class="sr-only">Next</span>
                                                </span>
                                                <a tabindex="-1" class="page-link" th:if='${page.hasNextPage}'
                                                   th:href='@{${page.url}(page=${page.currentNumber},size=${page.size})}'>
                                                    <i class="fas fa-angle-right"></i>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>


                                        </ul>
                                    </nav>


                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
        <th:block th:include="fragments/footer.html :: general"/>
    </div>
</div>

<script>
    function changeDeleteId(id) {
        document.getElementById("delete_id").value = id;
        console.log(document.getElementById("delete_id").value);
    }

</script>

<th:block th:include="fragments/header.html :: footer_scripts"/>
</body>

</html>