<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<div th:fragment="topbar(title)">
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/web/main.html"
               th:text="${title}"></a>
            <!-- Form -->
            <!--            <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">-->
            <!--                <div class="form-group mb-0">-->
            <!--                    <div class="input-group input-group-alternative">-->
            <!--                        <div class="input-group-prepend">-->
            <!--                            <span class="input-group-text"><i class="fas fa-search"></i></span>-->
            <!--                        </div>-->
            <!--                        <input class="form-control" placeholder="Поиск" type="text">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </form>-->
            <!-- User -->
            <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle" th:style="'background:white;'" >
                    <img alt="Image placeholder" th:src="@{/img/theme/user.png}">

                    <!--                  <img alt="Image placeholder" th:src="@{/img/icons/avatar.png}">-->
                </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold" sec:authentication="name"></span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome!</h6>
                        </div>
                        <!--                        <a href="./examples/profile.html" class="dropdown-item">-->
                        <!--                            <i class="ni ni-single-02"></i>-->
                        <!--                            <span>My profile</span>-->
                        <!--                        </a>-->
                        <!--                        <a href="./examples/profile.html" class="dropdown-item">-->
                        <!--                            <i class="ni ni-settings-gear-65"></i>-->
                        <!--                            <span>Settings</span>-->
                        <!--                        </a>-->
                        <!--                        <a href="./examples/profile.html" class="dropdown-item">-->
                        <!--                            <i class="ni ni-calendar-grid-58"></i>-->
                        <!--                            <span>Activity</span>-->
                        <!--                        </a>-->
                        <!--                        <a href="./examples/profile.html" class="dropdown-item">-->
                        <!--                            <i class="ni ni-support-16"></i>-->
                        <!--                            <span>Support</span>-->
                        <!--                        </a>-->
                        <!--                        <div class="dropdown-divider"></div>-->
                        <a href="/logout" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="sidebar(navItem)">
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
                    aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <!--            <a class="navbar-brand pt-0" href="/web">-->
            <!--                <img th:src="@{/img/brand/blue.png}" class="navbar-brand-img" alt="...">-->
            <!--            </a>-->
            <!-- User -->
            <!--            <ul class="nav align-items-center d-md-none">-->
            <!--                <li class="nav-item dropdown">-->
            <!--                    <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                        <i class="ni ni-bell-55"></i>-->
            <!--                    </a>-->
            <!--                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">-->
            <!--                        <a class="dropdown-item" href="#">Action</a>-->
            <!--                        <a class="dropdown-item" href="#">Another action</a>-->
            <!--                        <div class="dropdown-divider"></div>-->
            <!--                        <a class="dropdown-item" href="#">Something else here</a>-->
            <!--                    </div>-->
            <!--                </li>-->
            <!--                <li class="nav-item dropdown">-->
            <!--                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                        <div class="media align-items-center">-->
            <!--              <span class="avatar avatar-sm rounded-circle">-->
            <!--                <img alt="Image placeholder" th:src="@{/img/theme/team-1-800x800.jpg}">-->
            <!--              </span>-->
            <!--                        </div>-->
            <!--                    </a>-->
            <!--                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">-->
            <!--&lt;!&ndash;                        <div class=" dropdown-header noti-title">&ndash;&gt;-->
            <!--&lt;!&ndash;                            <h6 class="text-overflow m-0">Welcome!</h6>&ndash;&gt;-->
            <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                        <a href="./examples/profile.html" class="dropdown-item">&ndash;&gt;-->
            <!--&lt;!&ndash;                            <i class="ni ni-single-02"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;                            <span>My profile</span>&ndash;&gt;-->
            <!--&lt;!&ndash;                        </a>&ndash;&gt;-->
            <!--&lt;!&ndash;                        <a href="./examples/profile.html" class="dropdown-item">&ndash;&gt;-->
            <!--&lt;!&ndash;                            <i class="ni ni-settings-gear-65"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;                            <span>Settings</span>&ndash;&gt;-->
            <!--&lt;!&ndash;                        </a>&ndash;&gt;-->
            <!--&lt;!&ndash;                        <a href="./examples/profile.html" class="dropdown-item">&ndash;&gt;-->
            <!--&lt;!&ndash;                            <i class="ni ni-calendar-grid-58"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;                            <span>Activity</span>&ndash;&gt;-->
            <!--&lt;!&ndash;                        </a>&ndash;&gt;-->
            <!--&lt;!&ndash;                        <a href="./examples/profile.html" class="dropdown-item">&ndash;&gt;-->
            <!--&lt;!&ndash;                            <i class="ni ni-support-16"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;                            <span>Support</span>&ndash;&gt;-->
            <!--&lt;!&ndash;                        </a>&ndash;&gt;-->
            <!--                        <div class="dropdown-divider"></div>-->
            <!--                        <a href="/logout" class="dropdown-item">-->
            <!--                            <i class="ni ni-user-run"></i>-->
            <!--                            <span>Выйти</span>-->
            <!--                        </a>-->
            <!--                    </div>-->
            <!--                </li>-->
            <!--            </ul>-->
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./index.html">
                                <img th:src="@{/img/brand/blue.png}">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                    data-target="#sidenav-collapse-main" aria-controls="sidenav-main"
                                    aria-expanded="false" aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Form -->
                <!--                <form class="mt-4 mb-3 d-md-none">-->
                <!--                    <div class="input-group input-group-rounded input-group-merge">-->
                <!--                        <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Поиск" aria-label="Поиск">-->
                <!--                        <div class="input-group-prepend">-->
                <!--                            <div class="input-group-text">-->
                <!--                                <span class="fa fa-search"></span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </form>-->
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"
                        th:classappend="${navItem == 0} ? active">
                        <a class="nav-link" href="/web/main">
                            <i class="fa fa-home text-primary"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"
                        th:classappend="${navItem == 1} ? active">
                        <a class="nav-link" href="/web/users">
                            <i class="fa fa-user-alt text-primary"></i> Users
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"
                        th:classappend="${navItem == 5} ? active">
                        <a class="nav-link" href="/web/users/schedule/all">
                            <i class="fa fa-calendar  text-primary"></i>Users schedule
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"
                        th:classappend="${navItem == 2} ? active">
                        <a class="nav-link" href="/web/roles">
                            <i class="fa fa-users text-primary"></i> Roles
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"
                        th:classappend="${navItem == 6} ? active">
                        <a class="nav-link" href="/web/departments/all">
                            <i class="fa fa-hospital-symbol text-primary"></i> Departments
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"
                        th:classappend="${navItem == 4} ? active">
                        <a class="nav-link" href="/web/workinghours">
                            <i class="fa fa-user-clock  text-primary"></i> Working hours
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"
                        th:classappend="${navItem == 7} ? active">
                        <a class="nav-link" href="/web/userLogs">
                            <i class="fa fa-file-archive text-primary"></i> User activities
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"
                        th:classappend="${navItem == 3} ? active">
                        <a class="nav-link" href="/web/permissions">
                            <i class="fa fa-user-lock  text-primary"></i> Permissions
                        </a>
                    </li>

                    <!--Видно только тем, у кого роль USER или ADMIN-->
                    <!--                    <li class="nav-item" sec:authorize="hasAnyRole('USER,ADMIN')">-->
                    <!--                        <a class="nav-link" href="/">-->
                    <!--                            <i class="fa fa-user-friends text-green"></i> Сотрудники-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--Видно только тем, у кого роль ADMIN-->
                    <!--                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">-->
                    <!--                        <a class="nav-link" href="/">-->
                    <!--                            <i class="fa fa-user text-orange"></i> Видно только админу-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    &lt;!&ndash;Видно только тем, у кого роль USER&ndash;&gt;-->
                    <!--                    <li class="nav-item" sec:authorize="hasAnyRole('USER')">-->
                    <!--                        <a class="nav-link" href="/">-->
                    <!--                            <i class="fa fa-user text-yellow"></i> Видно только пользователю-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                </ul>
                <!-- Divider -->
                <!--                <hr class="my-3">-->
                <!--                &lt;!&ndash; Heading &ndash;&gt;-->
                <!--                <h6 class="navbar-heading text-muted">Документация</h6>-->
                <!--                &lt;!&ndash; Navigation &ndash;&gt;-->
                <!--                <ul class="navbar-nav mb-md-3">-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html">-->
                <!--                            <i class="ni ni-spaceship"></i> Getting started-->
                <!--                        </a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/foundation/colors.html">-->
                <!--                            <i class="ni ni-palette"></i> Foundation-->
                <!--                        </a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/components/alerts.html">-->
                <!--                            <i class="ni ni-ui-04"></i> Components-->
                <!--                        </a>-->
                <!--                    </li>-->
                <!--                </ul>-->
            </div>
        </div>
    </nav>


    <!--<div class="sidebar" data-color="blue" data-background-color="black" data-image="/img/sidebar-2.jpg">-->
    <!--&lt;!&ndash;-->
    <!--Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"-->

    <!--Tip 2: you can also add an image using data-image tag-->
    <!--&ndash;&gt;-->
    <!--<div class="logo">-->
    <!--<a href="/" class="simple-text logo-normal">-->
    <!--<img src="/img/logo_white_ru.png" style="width: 6em;"/>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="sidebar-wrapper">-->
    <!--<ul class="nav" id="navigationDashboard">-->

    <!--<li class="nav-item" th:classappend="${navItem == 1} ? active">-->
    <!--<a class="nav-link" href="/">-->
    <!--<i class="material-icons">dashboard</i>-->
    <!--<p>Главная</p>-->
    <!--</a>-->
    <!--</li>-->


    <!--&lt;!&ndash;<li class="nav-item " th:classappend="${navItem == 2} ? active"&ndash;&gt;-->
    <!--&lt;!&ndash;sec:authorize="hasAnyRole('ADMIN')">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="/admin/users/all">&ndash;&gt;-->
    <!--&lt;!&ndash;<i class="material-icons">person</i>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Пользователи</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->

    <!--&lt;!&ndash;<li class="nav-item " th:classappend="${navItem == 3} ? active"&ndash;&gt;-->
    <!--&lt;!&ndash;sec:authorize="hasAnyRole('ADMIN')">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="/admin/roles/all">&ndash;&gt;-->
    <!--&lt;!&ndash;<i class="material-icons">lock</i>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Роли и привелегии</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--<li class="nav-item " th:classappend="${navItem == 4} ? active"-->
    <!--sec:authorize="hasAnyRole('ADMIN')">-->
    <!--<a class="nav-link" href="/category_application/all">-->
    <!--<i class="material-icons">assignment</i>-->
    <!--<p>Подача на категорию</p>-->
    <!--</a>-->
    <!--</li>-->

    <!--<li class="nav-item "-->
    <!--sec:authorize="hasAnyRole('HR, ADMIN')">-->
    <!--<a  class="nav-link collapsed"   th:class=" ${navItem == 5} ? 'nav-link' : (${navItem == 6} ? 'nav-link' : 'nav-link collapsed')" data-toggle="collapse" href="#formsExamples" aria-expanded="false">-->
    <!--<i class="material-icons">people</i>-->
    <!--<p> Вакансии-->
    <!--<b class="caret"></b>-->
    <!--</p>-->
    <!--</a>-->
    <!--<div class="collapse" th:class=" ${navItem == 5} ? 'collapse show' : (${navItem == 6} ? 'collapse show' : 'collapse')" id="formsExamples" style="">-->
    <!--<ul class="nav">-->
    <!--<li class="nav-item " th:classappend="${navItem == 5} ? active">-->
    <!--<a class="nav-link" href="/web/hr_form_app/all">-->
    <!--<span class="sidebar-mini"> СЗ </span>-->
    <!--<span class="sidebar-normal"> Список заявителей </span>-->
    <!--</a>-->
    <!--</li>-->

    <!--<li class="nav-item " th:classappend="${navItem == 6} ? active">-->
    <!--<a class="nav-link" href="/web/hr_form_app/showAvailablePositions">-->
    <!--<span class="sidebar-mini"> ДП </span>-->
    <!--<span class="sidebar-normal"> Доступные позиции </span>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</li>-->


    <!--<li class="nav-item "-->
    <!--sec:authorize="hasAnyRole('STAFF, ADMIN, DIRECTOR')">-->
    <!--<a  class="nav-link collapsed"   th:class=" ${navItem == 12} ? 'nav-link' : (${navItem == 13} ? 'nav-link' : 'nav-link collapsed')" data-toggle="collapse" href="#raportforms" aria-expanded="false">-->
    <!--<i class="material-icons">content_paste</i>-->
    <!--<p> Рапорт-->
    <!--<b class="caret"></b>-->
    <!--</p>-->
    <!--</a>-->
    <!--<div class="collapse" th:class=" ${navItem == 12} ? 'collapse show' : (${navItem == 13} ? 'collapse show' : 'collapse')" id="raportforms" style="">-->
    <!--<ul class="nav">-->
    <!--<li class="nav-item " th:classappend="${navItem == 12} ? active"-->
    <!--sec:authorize="hasAnyRole('DIRECTOR, STAFF, ADMIN')">-->
    <!--<a class="nav-link" th:href="@{/web/raport/list(action='sent_raports')}">-->
    <!--<span class="sidebar-mini"> СР </span>-->
    <!--<span class="sidebar-normal"> Список Рапортов </span>-->
    <!--</a>-->
    <!--</li>-->

    <!--<li th:if="${#authorization.expression('hasAnyRole(''STAFF, ADMIN'')') && !#authorization.expression('hasRole(''DIRECTOR'')')}" class="nav-item " th:classappend="${navItem == 13} ? active">-->
    <!--<a class="nav-link" th:href="@{/web/raport/list(action='my_raports')}">-->
    <!--<span class="sidebar-mini"> МР </span>-->
    <!--<span class="sidebar-normal"> Мои Рапорты </span>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</li>-->


    <!--<li class="nav-item " th:classappend="${navItem == 7} ? active"-->
    <!--sec:authorize="hasAnyRole('ADMIN')">-->
    <!--<a class="nav-link" href="/category_application/marking/unchecked">-->
    <!--<i class="material-icons">highlighter</i>-->
    <!--<p>Оценка</p>-->
    <!--</a>-->
    <!--</li>-->


    <!--<li class="nav-item " th:classappend="${navItem == 8} ? active"-->
    <!--sec:authorize="hasAnyRole('STAFF,ADMIN')">-->
    <!--<a class="nav-link" href="/web/hr_form_app/showHealthPofilePage">-->
    <!--<i class="material-icons">healing</i>-->
    <!--<p>Анкета здоровья</p>-->
    <!--</a>-->
    <!--</li>-->


    <!--<li class="nav-item " th:classappend="${navItem == 9} ? active"-->
    <!--sec:authorize="hasAnyRole('hr, ADMIN')">-->
    <!--<a class="nav-link" href="/web/hr_form_app/getListOfHealthProfiles">-->
    <!--<i class="material-icons">list</i>-->
    <!--<p>Список</p>-->
    <!--</a>-->
    <!--</li>-->


    <!--<li class="nav-item " th:classappend="${navItem == 10} ? active"-->
    <!--sec:authorize="hasAnyRole('ADMIN')">-->
    <!--<a class="nav-link" href="/attendance/modules">-->
    <!--<i class="material-icons">poll</i>-->
    <!--<p>Посещение</p>-->
    <!--</a>-->
    <!--</li>-->


    <!--<li class="nav-item " th:classappend="${navItem == 11} ? active"-->
    <!--sec:authorize="hasAnyRole('ADMIN , HR')">-->
    <!--<a class="nav-link" href="/web/staff/all">-->
    <!--<i class="material-icons">person_add</i>-->
    <!--<p>Сотрудники</p>-->
    <!--</a>-->
    <!--</li>-->


    <!--<li class="nav-item " th:classappend="${navItem == 15} ? active"-->
    <!--sec:authorize="hasAnyRole('ADMIN')">-->
    <!--<a class="nav-link" href="/exam/review/own">-->
    <!--<i class="material-icons">assignment</i>-->
    <!--<p>Экзамены</p>-->
    <!--</a>-->
    <!--</li>-->

    <!--<li class="nav-item " th:classappend="${navItem == 16} ? active"-->
    <!--sec:authorize="hasAnyRole('ADMIN')">-->
    <!--<a class="nav-link" href="/exam/review/">-->
    <!--<i class="material-icons">assignment</i>-->
    <!--<p>Экзамены (все)</p>-->
    <!--</a>-->
    <!--</li>-->

    <!--<li class="nav-item " th:classappend="${navItem == 17} ? active"-->
    <!--sec:authorize="hasAnyRole('ADMIN')">-->
    <!--<a class="nav-link" href="/modules/">-->
    <!--<i class="material-icons">book</i>-->
    <!--<p>Предметы</p>-->
    <!--</a>-->
    <!--</li>-->

    <!--&lt;!&ndash;<li class="nav-item ">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="./tables.html">&ndash;&gt;-->
    <!--&lt;!&ndash;<i class="material-icons">content_paste</i>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Table List</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="nav-item ">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="./typography.html">&ndash;&gt;-->
    <!--&lt;!&ndash;<i class="material-icons">library_books</i>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Typography</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="nav-item ">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="./icons.html">&ndash;&gt;-->
    <!--&lt;!&ndash;<i class="material-icons">bubble_chart</i>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Icons</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="nav-item ">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="./map.html">&ndash;&gt;-->
    <!--&lt;!&ndash;<i class="material-icons">location_ons</i>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Maps</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="nav-item ">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="./notifications.html">&ndash;&gt;-->
    <!--&lt;!&ndash;<i class="material-icons">notifications</i>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Notifications</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->


    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
</div>

<div th:fragment="settings_bar">
    <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title"> Sidebar Filters</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger active-color">
                        <div class="badge-colors ml-auto mr-auto">
                            <span class="badge filter badge-purple" data-color="purple"></span>
                            <span class="badge filter badge-azure" data-color="azure"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-warning" data-color="orange"></span>
                            <span class="badge filter badge-danger" data-color="danger"></span>
                            <span class="badge filter badge-rose active" data-color="rose"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Images</li>
                <li class="active">
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="/img/sidebar-1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="/img/sidebar-2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="/img/sidebar-3.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="/img/sidebar-4.jpg" alt="">
                    </a>
                </li>
                <li class="button-container">
                    <a href="https://www.creative-tim.com/product/material-dashboard" target="_blank"
                       class="btn btn-primary btn-block">Free Download</a>
                </li>
                <!-- <li class="header-title">Want more components?</li>
                    <li class="button-container">
                        <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-warning btn-block">
                          Get the pro version
                        </a>
                    </li> -->
                <li class="button-container">
                    <a href="https://demos.creative-tim.com/material-dashboard/docs/2.1/getting-started/introduction.html"
                       target="_blank" class="btn btn-default btn-block">
                        View Documentation
                    </a>
                </li>
                <li class="button-container github-star">
                    <a class="github-button" href="https://github.com/creativetimofficial/material-dashboard"
                       data-icon="octicon-star" data-size="large" data-show-count="true"
                       aria-label="Star ntkme/github-buttons on GitHub">Star</a>
                </li>
                <li class="header-title">Thank you for 95 shares!</li>
                <li class="button-container text-center">
                    <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45
                    </button>
                    <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot;
                        50
                    </button>
                    <br>
                    <br>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a href="javascript:goBack()"><i class="fas fa-arrow-left text-dark"></i></a><a
                    class="navbar-brand font-weight-bold" href="/">Админ панель </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <form class="navbar-form">
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Поиск...">
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="material-icons">dashboard</i>
                            <p class="d-lg-none d-md-block">
                                Stats
                            </p>
                        </a>
                    </li>
                    <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"-->
                    <!--aria-haspopup="true" aria-expanded="false">-->
                    <!--<i class="material-icons">notifications</i>-->
                    <!--<span class="notification">6</span>-->
                    <!--<p class="d-lg-none d-md-block">-->
                    <!--Some Actions-->
                    <!--</p>-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
                    <!--<a class="dropdown-item" href="#">Mike John responded to your email</a>-->
                    <!--<a class="dropdown-item" href="#">You have 5 new tasks</a>-->
                    <!--<a class="dropdown-item" href="#">You're now friend with Andrew</a>-->
                    <!--<a class="dropdown-item" href="#">Another Notification</a>-->
                    <!--<a class="dropdown-item" href="#">Another One</a>-->
                    <!--</div>-->
                    <!--</li>-->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">person</i>
                            <p class="d-lg-none d-md-block">
                                Аккаунт
                            </p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                            <!--<a class="dropdown-item" href="/web/own/profile">Профиль</a>-->
                            <!--<a class="dropdown-item" href="#">Настройки</a>-->
                            <!--<div class="dropdown-divider"></div>-->
                            <a class="dropdown-item" href="/logout">Выйти</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

</body>
</html>