<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


<div th:fragment="general">
    <!-- Favicon -->
    <link th:href="@{/img/brand/favicon.png}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link th:href="@{/css/nucleo/css/nucleo.css}" rel="stylesheet">
    <!--<link  th:href="@{/vendor/fortawesome/fontawesome-free/css/all.min.css}" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Argon CSS -->
    <link type="text/css"  th:href="@{/css/argon.css?v=1.0.0}" rel="stylesheet">
    <link type="text/css"  th:href="@{/css/mystyle.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/select2.min.css}" rel="stylesheet" />

</div>


<div th:fragment="footer_scripts">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <!-- Optional JS -->
    <script th:src="@{/js/Chart.min.js}"></script>
    <script th:src="@{/js/Chart.extension.js}"></script>
    <!-- Argon JS -->
    <script th:src="@{/js/argon.js?v=1.0.0}"></script>
</div>
</body>
</html>