<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Schedule data</title>
    <!--    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">-->
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

    <th:block th:include="fragments/header.html :: general"/>

</head>
<body>
<th:block th:include="fragments/bars.html :: sidebar(1)"/>
<div class="main-content">
    <!-- Top navbar -->
    <th:block th:include="fragments/bars.html :: topbar('Hospital name')"/>
    <!-- Main -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

    </div>
    <div class="container-fluid mt--9">
        <div class="row">
            <div class="col-xl-12 order-xl-1">
                <div class="card bg-secondary shadow">
                    <form action="#" id="html5Form" enctype="multipart/form-data"

                          th:action="'update/'+${user.id}" method="post" th:object="${item}">


                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0" th:text="${user.firstname}+' '+ ${user.lastname}"/>
                                </div>

                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group" hidden="true">
                                <input type="text" th:field="*{id}" name="id"/>
                            </div>

                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label">Monday</label>
                                            <select name="mon" class="form-control"
                                                    data-toggle="select" title="Simple select"
                                                    data-live-search="true"
                                                    data-live-search-placeholder="working hours ...">
                                                <th:block th:each="hours : ${workingHours}">
                                                    <option th:text="${hours.name}" th:value="${hours.id}"
                                                            class="form-control form-control-alternative"
                                                            th:selected="${(item.id == null) ? false : item.mon.id==hours.id}"></option>

                                                </th:block>

                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label">Tuesday</label>
                                            <select name="tues" class="form-control"
                                                    data-toggle="select" title="Simple select"
                                                    data-live-search="true"
                                                    data-live-search-placeholder="working hours ...">
                                                <th:block th:each="hours : ${workingHours}">
                                                    <option th:text="${hours.name}" th:value="${hours.id}"
                                                            class="form-control form-control-alternative"
                                                            th:selected="${(item.id == null) ? false : item.tues.id==hours.id}"></option>

                                                </th:block>

                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label">Wednesday</label>
                                            <select name="wed" class="form-control"
                                                    data-toggle="select" title="Simple select"
                                                    data-live-search="true"
                                                    data-live-search-placeholder="working hours ...">
                                                <th:block th:each="hours : ${workingHours}">
                                                    <option th:text="${hours.name}" th:value="${hours.id}"
                                                            class="form-control form-control-alternative"
                                                            th:selected="${(item.id == null) ? false : item.wed.id==hours.id}"></option>

                                                </th:block>

                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label">Thursday</label>
                                            <select name="thur" class="form-control"
                                                    data-toggle="select" title="Simple select"
                                                    data-live-search="true"
                                                    data-live-search-placeholder="working hours ...">
                                                <th:block th:each="hours : ${workingHours}">
                                                    <option th:text="${hours.name}" th:value="${hours.id}"
                                                            class="form-control form-control-alternative"
                                                            th:selected="${(item.id == null) ? false : item.thur.id==hours.id}"></option>

                                                </th:block>

                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label">Friday</label>
                                            <select name="fr" class="form-control"
                                                    data-toggle="select" title="Simple select"
                                                    data-live-search="true"
                                                    data-live-search-placeholder="working hours ...">
                                                <th:block th:each="hours : ${workingHours}">
                                                    <option th:text="${hours.name}" th:value="${hours.id}"
                                                            class="form-control form-control-alternative"
                                                            th:selected="${(item.id == null) ? false : item.fr.id==hours.id}"></option>

                                                </th:block>

                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label">Saturday</label>
                                            <select name="sat" class="form-control"
                                                    data-toggle="select" title="Simple select"
                                                    data-live-search="true"
                                                    data-live-search-placeholder="working hours ...">
                                                <th:block th:each="hours : ${workingHours}">
                                                    <option th:text="${hours.name}" th:value="${hours.id}"
                                                            class="form-control form-control-alternative"
                                                            th:selected="${(item.id == null) ? false : item.sat.id==hours.id}"></option>

                                                </th:block>

                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label">Sunday</label>
                                            <select name="sun" class="form-control"
                                                    data-toggle="select" title="Simple select"
                                                    data-live-search="true"
                                                    data-live-search-placeholder="working hours ...">
                                                <th:block th:each="hours : ${workingHours}">
                                                    <option th:text="${hours.name}" th:value="${hours.id}"
                                                            class="form-control form-control-alternative"
                                                            th:selected="${(item.id == null) ? false : item.sun.id==hours.id}"></option>

                                                </th:block>

                                            </select>
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <hr class="my-4">
                            <div class="row align-items-center" style="right: 10px; margin-bottom: 20px">
                                <div class="col-8">

                                </div>
                                <div class="col-4 text-right">
                                    <button class="btn btn-primary" type="submit"
                                            th:text="Update"></button>

                                </div>

                            </div>

                        </div>
                    </form>

                </div>

            </div>

        </div>
        <th:block th:include="fragments/footer.html :: general"/>
    </div>
</div>

<script th:src="@{/js/select2.min.js}"></script>
<script>

    $('select').select2();
</script>

<th:block th:include="fragments/header.html :: footer_scripts"/>

</body>
</html>