<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Admin dashboard</title>
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
    <th:block th:include="fragments/header.html :: general"/>
</head>

<body>
<!-- Sidenav -->
<th:block th:include="fragments/bars.html :: sidebar(0)"/>
<!-- Main content -->
<div class="main-content">
    <!-- Top navbar -->
    <th:block th:include="fragments/bars.html :: topbar('Dashboard')"/>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->

            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <a class="col-xl-3 mb-5 mb-xl-0" href="/web/users/">
                <div class="card bg-gradient-default shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="text-white mb-0">Total users</h2>
                            </div>

                        </div>
                    </div>
                    <div class="card-body" th:style="'padding-top: 0;'">
                        <!-- Chart -->
                        <h1 class="text-white mb-0" th:style="'float:right; font-size: 3rem'" th:text="${usersCount}"/>
                    </div>
                </div>
            </a>

            <a class="col-xl-3 mb-5 mb-xl-0" href="/web/users/">
                <div class="card bg-gradient-default shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="text-white mb-0">Active users</h2>
                            </div>

                        </div>
                    </div>
                    <div class="card-body" th:style="'padding-top: 0;'">
                        <!-- Chart -->
                        <h1 class="text-white mb-0" th:style="'float:right; font-size: 3rem'" th:text="${activeCount}"/>
                    </div>
                </div>
            </a>
            <a class="col-xl-3 mb-5 mb-xl-0" href="/web/users/">
                <div class="card bg-gradient-default shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="text-white mb-0">Roles</h2>
                            </div>

                        </div>
                    </div>
                    <div class="card-body" th:style="'padding-top: 0;'">
                        <!-- Chart -->
                        <h1 class="text-white mb-0" th:style="'float:right; font-size: 3rem'" th:text="${roleCount}"/>
                    </div>
                </div>
            </a>
            <a class="col-xl-3 mb-5 mb-xl-0" href="/web/users/">
                <div class="card bg-gradient-default shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h1 class="text-white mb-0">Departments</h1>
                            </div>

                        </div>
                    </div>
                    <div class="card-body" th:style="'padding-top: 0;'">
                        <!-- Chart -->
                        <h1 class="text-white mb-0" th:style="'float:right; font-size: 3rem'"
                            th:text="${departmentCount}"/>
                    </div>
                </div>
            </a>
        </div>
        <div class="row mt-5">
            <div class="col-xl-8 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Active Users</h3>
                            </div>
                            <div class="col text-right">
                                <a href="/web/users" class="btn btn-sm btn-primary">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Full name</th>
                                <th scope="col">Role</th>
                                <th scope="col">Working hours</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="item : ${activeUsers}">
                                <tr>
                                    <th
                                            scope="row"
                                            th:text="${item.fullName}">
                                    </th>
                                    <th
                                            scope="row"
                                            th:text="${item.rolesString}">
                                    </th>

                                    <th
                                            scope="row"
                                            th:text="${item.workingHourStatus}">
                                    </th>


                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mb-5 mb-xl-0">
                <div id='calendar'></div>

            </div>

        </div>
        <!-- Footer -->
        <th:block th:include="fragments/footer.html :: general"/>
    </div>
</div>
<script th:src="@{/js/vanillacalendar.js}"></script>

<script>
    jSuites.calendar(document.getElementById('calendar'), {
        format: 'YYYY-MM-DD',
        onupdate: function(a,b) {
            document.getElementById('calendar-value').innerText = b;
        }
    });
</script>
<th:block th:include="fragments/header.html :: footer_scripts"/>

</body>

</html>