<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>List of permissions</title>

    <th:block th:include="fragments/header.html :: general"/>
</head>

<body>
<!-- Sidenav -->
<th:block th:include="fragments/bars.html :: sidebar(3)"/>
<!-- Main content -->
<div class="main-content">
    <!-- Top navbar -->
    <th:block th:include="fragments/bars.html :: topbar('Hospital Name')"/>
    <!-- Main -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

    </div>
    <div class="container-fluid mt--9">
        <div class="row">
            <div class="col-xl-12 order-xl-1">

                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Permissions</h3>
                            </div>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive table-hover">
                            <!-- Projects table -->

                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>

                                </tr>
                                </thead>
                                <tbody>

                                <th:block th:each="item : ${permissions}">
                                    <tr>
                                        <th
                                            scope="row"
                                            th:text="${item.name}">
                                        </th>

                                        <th
                                                scope="row"
                                                th:text="${item.description}">
                                        </th>



                                    </tr>
                                </th:block>
                                </tbody>
                            </table>



                        </div>


                    </div>


                    <div class="card-footer">

                        <div class="col-sm-7">
                            <!-- Pagination Bar -->
                            <div th:fragment='paginationbar'>
                                <div class="text-center">

                                    <nav aria-label="...">
                                        <ul class='pagination justify-content-end mb-0'>

                                            <li th:class="${page.hasPreviousPage}? 'page-item' : 'page-item disabled'">
                                                <span tabindex="-1" class="page-link"
                                                      th:if='${not page.hasPreviousPage}'>
                                                     <i class="fas fa-angle-left"></i>
                                                    <span class="sr-only">Previous</span>
                                                </span>
                                                <a tabindex="-1" class="page-link" th:if='${page.hasPreviousPage}'
                                                   th:href='@{${page.url}(page=${page.currentNumber-2},size=${page.size})}'>
                                                    <i class="fas fa-angle-left"></i>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li th:each='item : ${page.items}'
                                                th:class="${item.current}? 'page-item active' : 'page-item'">
                                                    <span tabindex="-1" class="page-link" th:if='${item.current}'
                                                          th:text='${item.number}'>1</span>
                                                <a tabindex="-1" class="page-link" th:if='${not item.current}'
                                                   th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                                        th:text='${item.number}'>1</span></a>
                                            </li>

                                            <li class="page-link"
                                                th:class="${page.hasNextPage}? 'page-item' : 'page-item disabled'">
                                                <span tabindex="-1" class="page-link" th:if='${not page.hasNextPage}'>
                                                     <i class="fas fa-angle-right"></i>
                                                    <span class="sr-only">Next</span>
                                                </span>
                                                <a tabindex="-1" class="page-link" th:if='${page.hasNextPage}'
                                                   th:href='@{${page.url}(page=${page.currentNumber},size=${page.size})}'>
                                                    <i class="fas fa-angle-right"></i>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>


                                        </ul>
                                    </nav>


                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
        <th:block th:include="fragments/footer.html :: general"/>
    </div>
</div>

<script>
    function changeDeleteId(id) {
        document.getElementById("delete_id").value = id;
        console.log(document.getElementById("delete_id").value);
    }

</script>

<th:block th:include="fragments/header.html :: footer_scripts"/>
</body>

</html>