<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Working hours</title>
    <!--    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">-->
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

    <th:block th:include="fragments/header.html :: general"/>
    <style>
        .gj-icon.clock {
            top: 11px !important;
        }


        .ui-timepicker-container {
            z-index: 3500 !important;
        }
    </style>
    <link th:href="@{/css/jquery.timepicker.min.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<th:block th:include="fragments/bars.html :: sidebar(4)"/>
<div class="main-content">
    <!-- Top navbar -->
    <th:block th:include="fragments/bars.html :: topbar('Working hours')"/>
    <!-- Main -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

    </div>
    <div class="container-fluid mt--9">
        <div class="row">
            <div class="col-xl-12 order-xl-1">
                <div class="card bg-secondary shadow">
                    <form action="#" id="html5Form" enctype="multipart/form-data"
                          th:action="${(item.id == null) ? 'create' : 'update'}" method="post" th:object="${item}">




                        <div class="card-body">
                            <div class="form-group" hidden="true">
                                <input type="text" th:field="*{id}" name="id"/>
                            </div>
                            <div class="pl-lg-4">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"
                                                   for="name">Name</label>
                                            <input type="text" id="name" name="name"
                                                   th:value="${item.id != null} ? ${item.name}"
                                                   class="form-control form-control-alternative"
                                                   placeholder="Full time"
                                                   required>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" >Start time</label>
                                        <input id="startTime" class="form-control form-control-alternative starttimepicker"
                                               th:name="startTime"
                                               th:value="${item.id != null} ? ${item.startTime}"
                                               autocomplete="off"
                                               placeholder="09:00"
                                               />
                                    </div>
                                </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"
                                                   >End time</label>
                                            <input id="endTime"  class="form-control form-control-alternative endtimepicker"
                                                     th:name="endTime"
                                                   th:value="${item.id != null} ? ${item.endTime}"
                                                   placeholder="17:00"
                                                   autocomplete="off"
                                                   />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input th:checked="${item.id != null} ? ${item.is_off_day()}"
                                                   class="custom-control-input" id="is_off_day" name="is_off_day" type="checkbox"
                                            onclick="isDayOffClicked()"/>

                                            <label class="custom-control-label" for="is_off_day">
                                                <span>Day Off</span>
                                            </label>


                                        </div>
                                    </div>

                                </div>


                                </div>



                            <hr class="my-4">
                            <div class="row align-items-center" style="right: 10px; margin-bottom: 20px">
                                <div class="col-8">

                                </div>
                                <div class="col-4 text-right">
                                    <button class="btn btn-primary" type="submit"
                                            th:text="${(item.id ==null) ? 'Create' : 'Update'}"></button>

                                </div>

                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>
        <th:block th:include="fragments/footer.html :: general"/>
    </div>
</div>



<th:block th:include="fragments/header.html :: footer_scripts"/>
<script th:src="@{/js/jquery.timepicker.min.js}" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('input.starttimepicker').timepicker({
            // timeFormat: 'HH:mm',
            // 'minTime': '8:00am',
            // 'maxTime': '19:30pm',
            timeFormat: 'HH:mm ',
            interval: 60,
            minTime: '00',
            maxTime: '23:00',
            // defaultTime: '9',
            startTime: '00:00',
            dynamic: false,
            dropdown: true,
            // change: function (time) {
            //     $('input.endtimepicker').timepicker('option', 'minTime', $(this).val());
            // }
        })
    });

    $(document).ready(function () {
        $('input.endtimepicker').timepicker({
            timeFormat: 'HH:mm',
            maxTime: '23:00',
            // defaultTime: '9',
            startTime: '00:00',
            interval: 60,
            dynamic: false,
            dropdown: true,
        });
    });
    $(document).ready(function () {
        var startTime=document.getElementById("startTime")
        var endTime=document.getElementById("startTime")
        var isOffDay = document.getElementById("is_off_day");
        if(isOffDay.checked){
            startTime.required=false
            endTime.required=false
        }else{
            startTime.required=true
            endTime.required=true
        }

    });

    function isDayOffClicked() {
        var isOffDay = document.getElementById("is_off_day");
        var startTime=document.getElementById("startTime")
        var endTime=document.getElementById("startTime")

        if (isOffDay.checked) {

            $('input.endtimepicker').timepicker('option', 'dropdown', false);
            $('input.starttimepicker').timepicker('option', 'dropdown', false);
            $('#startTime').val('')
            $('#endTime').val('')

            startTime.required=false
            endTime.required=false

        } else {
            $('input.endtimepicker').timepicker('option', 'dropdown', true);
            $('input.starttimepicker').timepicker('option', 'dropdown', true);

            startTime.required=true
            endTime.required=true
        }
    }
</script>
</body>
</html>