<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Working hours</title>

    <th:block th:include="fragments/header.html :: general"/>
</head>

<body>
<!-- Sidenav -->
<th:block th:include="fragments/bars.html :: sidebar(4)"/>
<!-- Main content -->
<div class="main-content">
    <!-- Top navbar -->
    <th:block th:include="fragments/bars.html :: topbar('Hospital Name')"/>
    <!-- Main -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

    </div>
    <div class="container-fluid mt--9">
        <div class="row">
            <div class="col-xl-12 order-xl-1">

                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Working hours</h3>
                            </div>
                            <div class="col text-right">
                                <a href="/web/workinghours/0" class="btn btn-success">Create new working hours</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive table-hover">
                            <!-- Projects table -->

                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Start time</th>
                                    <th scope="col">End time</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>

                                <th:block th:each="item : ${workingHours}">
                                    <tr>
                                        <th th:onclick="'window.location.href=\'/web/workinghours/' + ${item.id} + '\''"
                                            scope="row"
                                            th:text="${item.name}">
                                        </th>
                                        <td th:onclick="'window.location.href=\'/web/workinghours/' + ${item.id} + '\''"
                                            th:text="${item.startTime==''}?'-':${item.startTime}"
                                        >
                                            "${item.id != null} ? ${item.isOffDay()}"

                                        <td th:onclick="'window.location.href=\'/web/workinghours/' + ${item.id} + '\''"
                                            th:text="${item.endTime==''}?'-': ${item.endTime}"
                                        >



                                            <!--                                        </td>-->

                                        <td class="text-right">

                                            <div class="dropdown">
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                                                     x-placement="bottom-end"
                                                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(32px, 32px, 0px);">
                                                    <a class="dropdown-item" th:href="@{'/web/workinghours/' + ${item.id}}">Edit</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                                       data-target="#modal-delete"
                                                       th:onclick="'javascript:changeDeleteId(\'' + ${item.id} + '\');'">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>

                            <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog"
                                 aria-labelledby="modal-notification" aria-hidden="true">
                                <form action="#" th:action="@{/web/workinghours/delete}" method="POST">
                                    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                        <div class="modal-content bg-gradient-danger">

                                            <div class="modal-header">
                                                <h6 class="modal-title" id="modal-title-notification">Alert</h6>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">

                                                <div class="py-3 text-center">
                                                    <i class="ni ni-bell-55 ni-3x"></i>
                                                    <h4 class="heading mt-4">Delete working hour?</h4>
                                                    <p>Are you sure you want to delete this working hour?</p>
                                                </div>

                                            </div>

                                            <input id="delete_id" name="id" type="hidden" value=""/>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-white">Delete</button>
                                                <button type="button" class="btn btn-link text-white ml-auto"
                                                        data-dismiss="modal">Cancel
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>


                    </div>


                    <div class="card-footer">



                    </div>


                </div>
            </div>
        </div>
        <th:block th:include="fragments/footer.html :: general"/>
    </div>
</div>

<script>
    function changeDeleteId(id) {
        document.getElementById("delete_id").value = id;
        console.log(document.getElementById("delete_id").value);
    }

</script>

<th:block th:include="fragments/header.html :: footer_scripts"/>
</body>

</html>